html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  font-family: 'PT Sans', sans-serif;
}

body {
  	margin: 0;
}

.wrapper {
	width: 1040px;
	margin: 0 auto;
	padding-left: 80px;
}

a:hover {
  border-bottom: 2px solid #626262;
  transition: .25s ease-in-out;
}

/*Спрайты*/

.sprite {
    background-image: url(../img/spritesheets.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-facebook-ico {
    width: 36px;
    height: 36px;
    background-position: -5px -5px;
}

.sprite-google-ico {
    width: 36px;
    height: 36px;
    background-position: -51px -5px;
}

.sprite-icon-fa-android {
    width: 33px;
    height: 39px;
    background-position: -97px -5px;
}

.sprite-icon-fa-apple {
    width: 33px;
    height: 39px;
    background-position: -140px -5px;
}

.sprite-icon-fa-windows {
    width: 39px;
    height: 40px;
    background-position: -5px -54px;
}

.sprite-icon-font-1 {
    width: 33px;
    height: 40px;
    background-position: -54px -54px;
}

.sprite-icon-font-2 {
    width: 52px;
    height: 39px;
    background-position: -97px -54px;
}

.sprite-icon-font-3 {
    width: 43px;
    height: 44px;
    background-position: -97px -103px;
}

.sprite-icon-font-4 {
    width: 51px;
    height: 40px;
    background-position: -183px -5px;
}

.sprite-icon-font-5 {
    width: 47px;
    height: 40px;
    background-position: -159px -55px;
}

.sprite-icon-font-6 {
    width: 36px;
    height: 43px;
    background-position: -5px -105px;
}

.sprite-pinterest-ico {
    width: 36px;
    height: 36px;
    background-position: -51px -105px;
}

.sprite-twitter-ico {
    width: 36px;
    height: 36px;
    background-position: -150px -105px;
}


/*Стилизую хедэр*/

header {
	background-color: #fcdb00;
}

.logo {

}

.navigation {
	display: flex;
	padding-top: 60px;

}
 
.menu {
	display: flex;
	justify-content: flex-end;
	list-style-type: none;
	margin-left: auto;
}

.menu-item {
	display: flex;
	display: inline-block;
	font-size: 22px;
	line-height: 20px;
	font-weight: 700;
	padding: 0 34px;
}

.menu-link {
	text-decoration: none;
	color: #010101;
}

.header-main {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.header-description {
	width: 400px;
	margin-top: 105px;

} 

.heading {
	font-size: 32px;
	line-height: 18px;
	font-weight: 700;
	color: #010101;
}

.subtitle {
	font-size: 20px;
	line-height: 24px;
	color: #313841;
	margin-top: 25px;
	width: 310px;
}

.text {
	font-size: 16px;
	line-height: 20px;
	color: #555555;
}

.store-buttons {
	list-style-type: none;
	display: flex;
	padding: 0;
	width: 180px;
	display: flex;
	justify-content: space-between;
	margin-top: 40px;
}

.store-buttons li {
		
}


.tablet-border {
	width: 310px;
	height: 480px;
	background-color: #fff;
	border-radius: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 70px;
	margin-top: 50px;
}

.tablet-logo {
	width: 290px;
	height: 380px;
	background-color: #000;
	display: flex;
	justify-content: center;
	/*align-items: center;*/
	padding-top: 149px;
}

.tablet-logo a {
	margin: 0px 5px 0px 5px;
}
.logo2 {
	padding-top: 10px;
}

.white-dots {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 35px 40px 50px 0;
}

.dot2, .dot3 {
	width: 15px;
	height: 15px;
	background-color: #fff;
	border-radius: 50%;
	margin: 0 0 0 5px;
}

.dot1 {
	opacity: .6;
	width: 15px;
	height: 15px;
	background-color: #fff;
	border-radius: 50%;
}


/*/*
/*Непонятно. Вся ширина хедера? От края весь блок?*/


/* Стилизую Секцию*/

.section {
	margin-bottom: 125px;
	margin-top: 110px;
}

.feature-content {
  font-size: 16px;
  line-height: 20px;
  color: #555555;
}

.icon {
  margin: 0 26px 135px 0;
}

.section-title {
  text-align: center;
  font-size: 32px;
  line-height: 32px;
  color: #010101;
  margin-bottom: 15px;
}

.section-item {
  text-align: center;
  font-size: 20px;
  line-height: 24px;
  color: #313841;
  max-width: 772px;
  margin: 0 auto;
  margin-bottom: 85px;
}

.features {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
}

.feature {
	max-width: 320px;
	display: flex;
    align-items: center;
}

/*Стилизую футер*/
form {
	text-align: center;
	margin: 30px 40px 80px 0px;
}

footer {
  background-color: #010101; 
}

.footer-block {
	padding-top: 70px;
}

.footer-title {
  text-align: center;
  color: #fcdb00;
  font-size: 32px;
  line-height: 32px;
}

.footer-item {
  text-align: center;
  max-width: 772px;
  color: #898989;
  font-size: 20px;
  line-height: 24px;
  margin: 0 auto;
}

.input-email::-moz-placeholder {
	padding-left: 25px;
 color: #898989;
  }

 .input-email::-webkit-input-placeholder {
   color: #898989; 
 }


 .input-email {
  padding-left: 15px;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  /*left: 333px;*/
  /*top: 1740px;*/
  width: 580px;
  height: 50px;
  margin-right: 15px;
 }

.button {
  color: #010101;
  font-size: 16px;
  line-height: 24px;

  text-transform: uppercase;
  font-weight: 700;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(1, 1, 1);
  border-radius: 4px;
  background-color: #fcdb00;
  /*left: 930px;
  top: 1737px;*/
  width: 130px;
  height: 54px;
}

/*Состояниея для кнопки*/

.button:hover {
 	color: #00FF00;
 	font-size: 16px;
  line-height: 26px;
  transition: .2s;
}

.button:active {
	color: #556B2F;
}

/*Состояниея для кнопки*/

.social-block {
  /*! display: -webkit-flex; */
  /*! display: -moz-flex; */
  /*! display: -ms-flex; */
  /*! display: -o-flex; */
  /*! display: flex; */
  /*! justify-content: center; */
  /*! margin: 0 auto; */
  text-align: center;
}

.social {
	display: flex;
	display: inline-flex;
  list-style-type: none;
  padding: 0 14px;
  margin-bottom: 130px;
  width: 270px;
  justify-content: space-between;
}

.footer-menu {
  display: flex;
  justify-content: space-around;
}

.footer-menu-item {
  list-style-type: none;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
}

.footer-menu-item li a {
	color: inherit;
	text-decoration: none;
}

