html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  font-family: 'PT Sans', sans-serif;
  }

  body {
  	margin: 0;
  }


.wrapper {
	width: 960px;
	margin: 0 auto;
}

/*Стилизую хедэр*/

header {
	background-color: #fcdb00;
}

.navigation {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}

.menu {
	list-style-type: none;
}

.menu-item {
	display: inline-block;
	font-size: 22px;
	line-height: 20px;
	font-weight: 700;
	padding: 0 34px;
	

}
.menu-link {
	text-decoration: none;
	color: #010101;
}

/*.main-item {
  margin: 22px;
}*/

.heading {
	font-size: 32px;
	line-height: 18px;
	font-weight: 700;
	color: #010101;
}

.subtitle {
	font-size: 20px;
	line-height: 24px;
	color: #313841;
}


.header-description {
	max-width: 400px;
}

.store-buttons li {
	display: inline-block;
	padding: 0 22px;
}

/* Стилизую Секцию*/

.feature-content {
  font-size: 16px;
  line-height: 20px;
  color: #555555;
}

.icon {
  margin: 0 26px 135px 0;
}

.section-title {
  text-align: center;
  font-size: 32px;
  line-height: 32px;
  color: #010101;
}

.section-item {
  text-align: center;
  font-size: 20px;
  line-height: 24px;
  color: #313841;
  max-width: 772px;
  margin: 0 auto;
}

.features {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
}

.feature {
	max-width: 320px;
	display: flex;
    align-items: center;
}

/*Стилизую футер*/
form {
	text-align: center;
	margin: 42px 0 80px;
}

footer {
  background-color: #010101;
  height: 768px;
}

.footer-block {
	margin-top: 50px; 
}

.footer-title {
  text-align: center;
  color: #fcdb00;
  font-size: 32px;
  line-height: 32px;
}

.footer-item {
  text-align: center;
  max-width: 772px;
  color: #898989;
  font-size: 20px;
  line-height: 24px;
  margin: 0 auto;
}

.input-email::-moz-placeholder {
 color: #898989;
  }

 .input-email::-webkit-input-placeholder {
   color: #898989; 
 }


 .input-email {
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  /*left: 333px;*/
  /*top: 1740px;*/
  width: 580px;
  height: 50px;
 }

.button {
  color: #010101;
  font-size: 16px;
  line-height: 24px;

  text-transform: uppercase;
  font-weight: 700;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(1, 1, 1);
  border-radius: 4px;
  background-color: #fcdb00;
  /*left: 930px;
  top: 1737px;*/
  width: 130px;
  height: 54px;
}

.social-block {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-around;
}

.social li{
  list-style-type: none;
  display: inline-block;
  padding: 0 22px;
}

.footer-menu {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-around;
}

.footer-menu-item {
  list-style-type: none;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
}

/*Спрайты*/

.sprite {
    background-image: url(../img/spritesheets.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-facebook-ico {
    width: 36px;
    height: 36px;
    background-position: -5px -5px;
}

.sprite-google-ico {
    width: 36px;
    height: 36px;
    background-position: -51px -5px;
}

.sprite-icon-fa-android {
    width: 33px;
    height: 39px;
    background-position: -97px -5px;
}

.sprite-icon-fa-apple {
    width: 33px;
    height: 39px;
    background-position: -140px -5px;
}

.sprite-icon-fa-windows {
    width: 39px;
    height: 40px;
    background-position: -5px -54px;
}

.sprite-icon-font-1 {
    width: 33px;
    height: 40px;
    background-position: -54px -54px;
}

.sprite-icon-font-2 {
    width: 52px;
    height: 39px;
    background-position: -97px -54px;
}

.sprite-icon-font-3 {
    width: 43px;
    height: 44px;
    background-position: -97px -103px;
}

.sprite-icon-font-4 {
    width: 51px;
    height: 40px;
    background-position: -183px -5px;
}

.sprite-icon-font-5 {
    width: 47px;
    height: 40px;
    background-position: -159px -55px;
}

.sprite-icon-font-6 {
    width: 36px;
    height: 43px;
    background-position: -5px -105px;
}

.sprite-pinterest-ico {
    width: 36px;
    height: 36px;
    background-position: -51px -105px;
}

.sprite-twitter-ico {
    width: 36px;
    height: 36px;
    background-position: -150px -105px;
}
