html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  font-family: 'PT Sans', sans-serif;
  }

  body {
  	margin: 0;
  }


.wrapper {
	width: 924px;
	margin: 0 auto;
}

header {
	background-color: #fcdb00;
}

.navigation {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}

.menu {
	list-style-type: none;
}

.menu-item {
	display: inline-block;
	font-size: 22px;
	line-height: 20px;
	font-weight: 700;
	padding: 0 34px;
	

}
.menu-link {
	text-decoration: none;
	color: #010101;
}

.heading {
	font-size: 32px;
	line-height: 18px;
	font-weight: 700;
	color: #010101;
}

.subtitle {
	font-size: 20px;
	line-height: 24px;
	color: #313841;
}

.text {
	font-size: 16px;
	line-height: 20px;
	color: #555555;
}

.header-description {
	max-width: 400px;
}

.store-buttons li {
	display: inline-block;
	padding: 0 22px;
}

.features {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
}

.feature {
	max-width: 300px;
}